@model book.Models.WXBGModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}
<link href="../../Content/qqFace/css/reset.css" rel="stylesheet" />
<style>
    .error {
        color: red;
        font-size: 14px;
    }
</style>
<style>
.comment { width: 680px; margin: 20px auto; position: relative; background: #fff; padding: 20px 50px 50px; border: 1px solid #DDD; border-radius: 5px; }
.comment h3 { height: 28px; line-height: 28px }
.com_form { width: 100%; position: relative }
.input { width: 99%; height: 60px; border: 1px solid #ccc }
.com_form p { height: 28px; line-height: 28px; position: relative; margin-top: 10px; }
span.emotion { width: 42px; height: 20px; padding-left: 20px; cursor: pointer }
span.emotion:hover { background-position: 2px -28px }
.qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
.qqFace table td { padding: 0px; }
.qqFace table td img { cursor: pointer; border: 1px #fff solid; }
.qqFace table td img:hover { border: 1px #0066cc solid; }
.qqFace #show { width: 770px; margin: 20px auto; background: #fff; padding: 5px; border: 1px solid #DDD; vertical-align: top; }
.sub_btn { position: absolute; right: 0px; top: 0; display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  *display: inline;
vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; text-align: center; font: 14px/100% Arial, Helvetica, sans-serif; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0,0,0,.6); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.sub_btn:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
</style>
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        书籍列表管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">我的列表</a></li>
        <li class="am-active">书单二维码</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                书单二维码配置
            </div>
        </div>
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form id="SetPageForm" class="am-form am-form-horizontal" action="/Home/SetLJ" method="post">
                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">书单名称</label>
                            <div class="am-u-sm-9">
                                <input type="hidden" value="@Model.Id" id="Id" name="Id" placeholder="">
                                <input type="text" value="@Model.WXName" id="WXName" name="WXName" placeholder="">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">链接内容</label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">
                                    <p><span class="emotion">表情</span></p>	
                                    <div name="WXBG" style="width:500px;height:300px;border:1px solid #DDD;" contentEditable="true" id="showBlock">@Html.Raw(Model.WXBG)</div>
                                    @*<textarea name="WXBG" id="WXBG">@Model.WXBG</textarea>*@
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button id="SetPageBtn" type="button" class="am-btn am-btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Content/jquery-zclip-master/clipboard.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#SetPageBtn").bind("click", function () {
            function valide() {
                return $("#SetPageForm").validate({
                    ignore: "",
                    rules: {
                        WXName: {
                            required: true
                        },
                        WXBG: {
                            required: true
                        }
                    },
                    messages: {
                        WXName: "请您填写书单名称",
                        WXBG: "请您填写链接内容"
                    },
                }).form();
            }

            debugger;
            if (valide()) {
                $.ajax({
                    url: "/Home/SetLJ",
                    type: "post",
                    data: { Id: $("#Id").val(), WXName: $("#WXName").val(), WXBG: $("#showBlock").html() },
                    async: false,
                    success: function (data) {
                        $(".modal-body").html("添加成功");
                        $('#myModal').modal('show');
                    }
                });
            }
        });
    });
</script>
<script src="../../Content/qqFace/js/jquery.qqFace.js"></script>
<script type="text/javascript">
    //查看结果
    function replace_em(src) {
        $("#showBlock").append('<img src="' + src + '" border="0" />');
    }
    $(function () {
        $('.emotion').qqFace({
            id: 'facebox',
            assign: 'showBlock',
            path: '../../Content/qqFace/arclist/'	//表情存放的路径
        });
    });
</script>
